Hello, {{ name }}! You are {{ age }} years old. <br /> <br />

{ if age > 15 }
    You are over the age of 15! <br /> <br />
{ endif }

{ for user in users }
    {{ user.name }} is {{ user.age }} years old. <br />
{ endfor }

{{ '12345' | md5 }}